.CartModal-wrapper-content{
border-radius: 12px;
  overflow: hidden;

  .CartModal-wrapper-list{
    padding-top: 71px;
  }

  .CartModal-total{
    display: flex;
    justify-content: flex-end;
    padding: 20px 120px 89px 10px;
    font-size: 18px;
    font-weight: 700;
    line-height: 21px;
    letter-spacing: 0;
    text-align: right;

  }

  .CartModal-total > span{
    margin-right: 53px;
  }
}