.Item {
  display: flex;
  justify-content: flex-start;
  transition: background-color 1s;
  align-items: center;
  font-size: 16px;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: 0;
}

.Item-code {
  padding: 20px 10px 20px 20px;
}

.Item-title {
  width: 70%;
  padding: 20px 10px;
}

.Item-price{
  display: flex;
  align-items: center;
  color: #404040;
  font-size: 18px;
  font-weight: 400;
  line-height: 21px;
  letter-spacing: 0;
}

.Item-quantity{
  margin-left: 62px;
  margin-right: 14px;
  font-size: 18px;
  font-weight: 400;
  line-height: 21px;
  letter-spacing: 0;
}
.Item-quantity > span{
  margin-left: 5px;
}


.Item-actions {
  display: flex;
  justify-content: flex-end;
  padding: 20px 20px 20px 10px;
}

.Item-wrapper-element{
  display: flex;
  width: 100%;
}
.Item-wrapper-price{
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 30%;
}